.app-2048 {
  width: 320px;
  margin: 0 auto;
}
.app-2048__blocklist {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.app-2048__blockitem {
  display: block;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  position: absolute;
  transition: left 1s ease, top .3s ease;
}
.app-2048__blockitem.empty {
  opacity: 0;
}
.app-2048__blockitem:before {
  content:attr(data-block-value);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.app-2048__blockitem.x0 {
  left: 0;
}
.app-2048__blockitem.x1 {
  left: 25%;
}
.app-2048__blockitem.x2 {
  left: 50%;
}
.app-2048__blockitem.x3 {
  left: 75%;
}
.app-2048__blockitem.y0 {
  top: 0;
}
.app-2048__blockitem.y1 {
  top: 25%;
}
.app-2048__blockitem.y2 {
  top: 50%;
}
.app-2048__blockitem.y3 {
  top: 75%;
}
